<html>
<body>
<div id="top-background">
<header id="banner">
  <div class="title_header">
    <h1>Alexander Ward</h1>
  </div>
  <div class="topnav" id="myTopnav">
    <a href="#contact_box">Contact</a>
    <a href="#education_box">Education</a>
    <a href="#experience_box">Experience</a>
    <a href="#banner">About</a>
  </div>
</header>

<div id="page">
  <img class="circular--square" src="assets/HeadShot.jpg" />
  <div id="pushdown_box"></div>
  <div id="about_box">
    <div>
      <h2 id="about_header">About</h2>
      <div id="about-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus rhoncus ante, at pharetra tortor accumsan vitae. Mauris in felis eros. Etiam ac lorem quis urna volutpat efficitur non ultrices turpis. Cras aliquet lacus orci, in ultrices diam pretium id. Vivamus vestibulum magna nisl, ac elementum est ultrices nec. Donec non nibh vehicula arcu dignissim hendrerit. Aliquam accumsan tortor id viverra interdum. Morbi convallis blandit dui sed rutrum. Sed hendrerit massa in dapibus porta.</div>
    </div>
  </div>
  <div id="experience_box">
      <h2 id="experience_header">Experience</h2>
        <div>
          <table>
            <td><i class = "fa fa-angle-double-right"></i></td>
            <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
          </table>
        </div>
        <div>
          <table>
            <td><i class = "fa fa-angle-double-right"></i></td>
            <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
          </table>
        </div>
        <div>
          <table>
            <td><i class = "fa fa-angle-double-right"></i></td>
            <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
          </table>
        </div>
          <table>
            <td><i class = "fa fa-angle-right"></i></td>
            <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed tempus rhoncus ante, at pharetra tortor accumsan vitae. </span></td>
          </table>
        <div>
          <table>
            <td><i class = "fa fa-angle-double-right"></i></td>
            <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
          </table>
        </div>
  </div>
  <div id="education_box">
    <h2 id="education_header">Education</h2>
      <div>
        <table>
          <td><i class = "fa fa-angle-double-right"></i></td>
          <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
        </table>
      </div>
        <table>
          <td><i class = "fa fa-angle-right"></i></td>
          <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed tempus rhoncus ante, at pharetra tortor accumsan vitae. </span></td>
        </table>
      <div>
        <table>
          <td><i class = "fa fa-angle-double-right"></i></td>
          <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
        </table>
      </div>
      <div>
        <table>
          <td><i class = "fa fa-angle-double-right"></i></td>
          <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
        </table>
      </div>
      <div>
        <table>
          <td><i class = "fa fa-angle-double-right"></i></td>
          <td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
        </table>
      </div>
  </div>
  <div id="contact_box">
    <h2 id="contact_header">Contact</h2>
    <table>
      <tr>
      <th>Email:</th>
      <td>awardnasc@gmail.com</td>
      </tr>
      <tr>
      <th>Phone:</th>
      <td>803.507.0114</td>
      </tr>
    </table>
    <a id="print_btn" (click)="openPdf()">Printable Resume</a>
  </div>
  <div id="bottom_box">
  </div>
</div>
</div>

<footer>
  <div id="footer_box">
    <div id="social_icons">
      <a href="https://github.com/awardnasc"><i class="fa fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/alexander-ward-8a4950120/"><i class="fa fa-linkedin-square"></i></a>
    </div>
    <div id="design_statement">Designed and Developed by Alex Ward</div>
  </div>
</footer>
</body>
</html>
