<html>
<body>
<div id="top-background">
<header id="banner">
  <div class="title_header">
    <h1>Alexander Ward</h1>
  </div>
  <div class="topnav" id="myTopnav">
    <a href="#contact_box">Contact</a>
    <a href="#education_box">Education</a>
    <a href="#experience_anchor">Experience</a>
    <a href="#banner">About</a>
  </div>
</header>

<div id="page">
  <img class="circular--square" src="assets/HeadShot.jpg" />
  <div id="pushdown_box"></div>
  <div id="about_box">
    <div>
      <h2 id="about_header">About</h2>
      <div id="about-paragraph">
        I am a senior Computer Science student pursuing a Bachelor of Science degree at Clemson University and a minor in Aerospace Studies. I have an interest in software development and cyber-security with experience in full stack development of cloud native web applications using agile methodology practices. Along with my solid technical background I also have a good deal of leadership and teamwork experience <span id="experience_anchor"></span> from Air Force Reserve Officer Training Corps which I am a member of at University.
      </div>
    </div>
  </div>
  <div id="experience_box">
      <h2 class="experience_header">Experience</h2>
        <div>
          <table>
            <td><i class = "fa fa-angle-double-right"></i></td>
            <td><span style="font-weight: bold;  color: #3c3f41;">The Home Depot</span></td>
          </table>
          <table>
            <td><i class = "fa fa-angle-right"></i></td>
            <td><span>Software Engineering Intern</span></td>
          </table>
          <table>
            <td><i class = "fa fa-angle-right"></i></td>
            <td><span>Participate in pair programing in an Agile based development environment</span></td>
          </table>
          <table>
            <td><i class = "fa fa-angle-right"></i></td>
            <td><span>Design, Develop and deploy a cloud native web application to production</span></td>
          </table>
        </div>
        <div>
          <table>
            <td><i class = "fa fa-angle-double-right"></i></td>
            <td><span style="font-weight: bold;  color: #3c3f41;">Air Force Reserve Officer Training Corps </span></td>
          </table>
          <table>
            <td><i class = "fa fa-angle-right"></i></td>
            <td><span>Received two Congressional nominations to the Air Force Academy</span></td>
          </table>
          <table>
            <td><i class = "fa fa-angle-right"></i></td>
            <td><span>Full Scholarship winner</span></td>
          </table>
          <table>
            <td><i class = "fa fa-angle-right"></i></td>
            <td><span>Graduated Summer Field Training as a member of the top Flight</span></td>
          </table>
        </div>

    <h2 class="experience_header">Skills</h2>
      <div>
        <table id="skills_table">
          <tr>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>C/C++</td>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>Java</td>
          </tr><tr>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>Python</td>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>HTML/CSS</td>
          </tr><tr>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>Spring</td>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>Maven</td>
          </tr><tr>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>Angular 2</td>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>Typescript</td>
          </tr><tr>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>Mockito</td>
            <td><i class = "fa fa-angle-right skill-td"></i></td>
            <td>Protractor</td>
          </tr>
        </table>
      </div>
  </div>
  <div id="education_box">
    <h2 id="education_header">Education</h2>
      <div>
        <table>
          <td><i class = "fa fa-angle-double-right"></i></td>
          <td><span style="font-weight: bold;  color: #3c3f41;">Clemson University</span></td>
        </table>
        <table>
          <td><i class = "fa fa-angle-right"></i></td>
          <td><span>GPA 3.33/4.00</span></td>
        </table>
        <table>
          <td><i class = "fa fa-angle-right"></i></td>
          <td><span>Bachelor of Science: Computer Science</span></td>
        </table>
        <table>
          <td><i class = "fa fa-angle-right"></i></td>
          <td><span>Minor in Aerospace Studies</span></td>
        </table>
      </div>
      <div>
        <table>
          <td><i class = "fa fa-angle-double-right"></i></td>
          <td><span style="font-weight: bold;  color: #3c3f41;">North Augusta Senior High</span></td>
        </table>
        <table>
          <td><i class = "fa fa-angle-right"></i></td>
          <td><span>High School Diploma</span></td>
        </table>
        <table>
          <td><i class = "fa fa-angle-right"></i></td>
          <td><span>Graduated May 2014</span></td>
        </table>
      </div>
  </div>
  <div id="contact_box">
    <h2 id="contact_header">Contact</h2>
    <table>
      <tr>
      <th>Email:</th>
      <td>awardnasc@gmail.com</td>
      </tr>
      <tr>
      <th>Phone:</th>
      <td>803.507.0114</td>
      </tr>
    </table>
    <a id="print_btn" (click)="openPdf()">Printable Resume</a>
  </div>
  <div id="bottom_box">
  </div>
</div>
</div>

<footer>
  <div id="footer_box">
    <div id="social_icons">
      <a href="https://github.com/awardnasc"><i class="fa fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/alexander-ward-8a4950120/"><i class="fa fa-linkedin-square"></i></a>
    </div>
    <div id="design_statement">Designed, Developed, and Deployed by Alex Ward &copy; 2017</div>
  </div>
</footer>
</body>
</html>
